<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta charset="UTF-8" />
	<title>form画面です！</title>
</head>

<body>
<h1>Insert title here</h1>
<p th:text="${val}">${val}</p>
<p th:if="${check}" th:text="${val} + ' は ' + ${trueVal}">message.</p>
<p th:unless="${check}" th:text="${val} + ' は ' + ${falseVal}">message.</p>

<form method="get" action="/" >
	<input type="text" name="text1" th:value="${val}"/>
<!-- 
	<input type="submit" />
-->
    <input type="checkbox" name="buttonValue" th:checked="${check1}" value="checked" />
    <p th:text="${val2}"></p>
	<input type="submit" name="nickName" value="ボタン" />
	<button type="submit" name="nickName" value="EDIT">editに飛ぶ</button>
	<p th:text="${temp}"></p>
</form>

</body>
</html>
