<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <title>その１</title>
  </head>
  <body>
    <h1>indexページ</h1>
    <div id="container-inner">
      <div id="contents">
        <!-- コンテンツここから -->
        <div class="container-fluid">
        <form method="post" th:object="${sessionForm}" th:action="@{/sessionTest1}">
          <input type="text" th:field="*{name1}"/>
          
          <input type="submit"/>
          <div>
            <span th:text="*{name1}"></span>
            <h1 th:text="*{name2}"></h1>
          </div>
        </form>
        
        </div>
      </div>
    </div>
  </body>
</html>